* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  color: grey;
  margin-right: 30px;
  margin-left: 30px;
}
#profile-picture {
  text-align: left;
}
#details {
  text-align: right;
  padding: auto;
  margin-top: -100px;
}
#details h1 {
  font-size: 50px;
}
/* #photo {
  height: 100px;
  width: 100px;
} */
/* #html-pic {
  text-align: center;
} */
/* #html {
  height: 350px;
  width: 1040px;
} */
/* .column {
  float: left;
  width: 15%;
  padding: 15px;
}
.row {
  content: "";
  clear: both;
  display: table;
} */
/* .work {
  width: 200px;
  height: 200px;
}
.projects {
  list-style: none;
  display: flex;
}
.project-item {
  padding: -100px;
} */
